//
//  Config-Prod.xcconfig
//  iOSBaseAppSetup
//
//  Created by Kevin Vishal on 28/09/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_API_URL = www.production.com
APP_NAME = ProdApp
APP_ICON_NAME = AppIconProd
APP_BUNDLE_IDENTIFIER = com.tuffytiffany.prodapp
