//
//  Config-QA.xcconfig
//  iOSBaseAppSetupQA
//
//  Created by Kevin Vishal on 28/09/20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_API_URL = www.qa.com
APP_NAME = QAApp
APP_ICON_NAME = AppIconQA
APP_BUNDLE_IDENTIFIER = com.tuffytiffany.qaapp
